################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/NUTRIVIDA.slnx/FileContentIndex/3ded330d-d291-41b7-b596-a135926f1cd7.vsidx
/.vs/NUTRIVIDA.slnx/v18/.wsuo
/.vs/NUTRIVIDA.slnx/v18/DocumentLayout.backup.json
/.vs/NUTRIVIDA.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/NUTRIVIDA.slnx/FileContentIndex/80fd88a3-ee77-4850-80d5-a3fd67ced927.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/0cc204ac-cbeb-4608-ba69-28894876d46d.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/a2368c2a-fc72-43b5-81cc-5d4c0ff415ed.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/dfe58f2f-45b5-4a19-8b32-32c58f202147.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/6be7ebba-916e-4820-bb97-958a2b191a80.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/merges/16a2f398-32e9-48ac-9c5d-4eddce321e30.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/1f54975a-0e84-4992-a107-f360eadb38a2.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/d90c16be-889a-4bd9-8bcc-744404783815.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/f97149be-111d-4ce6-ae1a-0c5a8cb867fd.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/110158a8-d253-4e4c-9769-fa5b010e85ad.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/14a3a90d-0fba-4c3c-8953-fad983778830.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/50e99f03-ed77-40f0-a374-cf520070f519.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/b49892d8-42dd-4c3f-b125-adff12e0c657.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/178f7fa9-2aee-4c4f-b619-86019ef8c06b.vsidx
.vs/

