################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/NUTRIVIDA.slnx/FileContentIndex/3ded330d-d291-41b7-b596-a135926f1cd7.vsidx
/.vs/NUTRIVIDA.slnx/v18/.wsuo
/.vs/NUTRIVIDA.slnx/v18/DocumentLayout.backup.json
/.vs/NUTRIVIDA.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/NUTRIVIDA.slnx/FileContentIndex/80fd88a3-ee77-4850-80d5-a3fd67ced927.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/0cc204ac-cbeb-4608-ba69-28894876d46d.vsidx
/.vs/NUTRIVIDA.slnx/FileContentIndex/a2368c2a-fc72-43b5-81cc-5d4c0ff415ed.vsidx
